@charset "utf-8";


html, body {
    height: 100%;
}
body {
    margin: 0;
}
#wrapper {
	display:flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width:100%;
	height: 100%;
}

#table_content {
	position:relative;
	width:800px;
	height:600px;
	background-color:black;
	overflow:hidden;
}

#snake, #apple, .snake_body {
	position:absolute;
}
#score {
	width:800px;
	text-align:left;

}

